MCP_ROUTER_APP_ENV=development
MCP_ROUTER_LOG_LEVEL=INFO
MCP_ROUTER_PORT=8000
MCP_ROUTER_SESSION_TTL_SECONDS=1800
MCP_ROUTER_REQUIRE_DEPENDENCIES_FOR_READINESS=false
MCP_ROUTER_POSTGRES_DSN=
MCP_ROUTER_REDIS_URL=
